@import "../../../assets/colors";

.upper-nav {
  position: absolute;
  top: 0;
  right: 20px;
  width: 100vw;
  height: 80px;
  background-color: $snow-white-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
