@import "../../assets/colors";

h1{
    padding-left: 3.5vw;
    padding-top: 3.5vw;
    font-weight: 700;
}


.hidden {
    display: none;
  }

  .main{
    padding: 3.5vw;
    height: 75vh; /* set a fixed height for the container */
  overflow: auto;
  }

  .main_text{
    display: flex;
    justify-content: space-between;
  }

  .main_text h1,h2{
    color: $color-main-text;
  }


  button{
    color: $color-lable;
    border: none;
    background-color: transparent;
  }

  .main p{
    justify-content: center;
  }