<div class="container">

    <div class="container_for_2">
        <div class="card">
            <p class="detail">detail</p>
            <div class="main_info">
                <img src="../../assets/img/on.png" alt="Girl in a jacket" >
                <div class="text">
                    <h1>Barney Stinson</h1>
                    <h2>Financial experts</h2>
                </div>

            </div >

            <div class="add_info">
                <p>Warren Buffett is a billionaire investor and the chairman and CEO of Berkshire Hathaway. He is widely regarded as one of the most successful investors in the world and has a net worth of over $100 billion.Ł</p>
            </div>

                        <button >Contact me</button>

        </div>

        <div class="card">
            <p class="detail">detail</p>
            <div class="main_info">
                <img src="../../assets/img/ona.png" alt="Girl in a jacket" >
                <div class="text">
                    <h1>Fibie Buffet</h1>
                    <h2>Financial experts</h2>
                </div>

            </div >

            <div class="add_info">
                <p>Fibie Buffet is a personal finance expert, author, and television personality. She has written several bestselling books on personal finance and is a frequent guest on television shows such as The Oprah Winfrey Show and The Today Show.</p>
            </div>

            <button >Contact me</button>
        </div>

    </div>

    <div class="container_for_2">
        <div class="card">
            <p class="detail">detail</p>
            <div class="main_info">
                <img src="../../assets/img/on2.png" alt="Girl in a jacket" >
                <div class="text">
                    <h1>Appolo Start</h1>
                    <h2>Financial experts</h2>
                </div>

            </div >

            <div class="add_info">
                <p>Appolo Start is a motivational speaker, author, and entrepreneur. While he is not strictly a financial expert, he has written several books on personal finance and investing, and his seminars and workshops often touch on these topics.</p>
            </div>

                        <button >Contact me</button>

        </div>

        <div class="card">
            <p class="detail">detail</p>
            <div class="main_info">
                <img src="../../assets/img/on3.png" alt="Girl in a jacket" >
                <div class="text">
                    <h1>Lanc Mousby</h1>
                    <h2>Financial experts</h2>
                </div>

            </div >

            <div class="add_info">
                <p>is an entrepreneur, author, and investor. He is best known for his book, Rich Dad Poor Dad, which has sold millions of copies worldwide and is considered a classic in the personal finance genre.</p>
            </div>

            <button >Contact me</button>
        </div>

    </div>











</div>
