<div class="balance-preview-container">
  <h1>Balance preview table</h1>
  <table class="styled-table">
    <thead>
      <tr>
        
        <th>Date:</th>
        <th>Category:</th>
        <th>SubCategory:</th>
        <th>Description:</th>
        <th>Amount:</th>
        <th>Type:</th>
        <th>BalanceBefore:</th>
        <th>BalanceAfter:</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let transaction of transactionList$"
        
      >
        
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.subcategory }}</td>
        <td>{{ transaction.description }}</td>
        <td><strong [ngStyle]="{ color: isIncome(transaction.amount) ? 'red' : 'green' }">{{ transaction.amount }}</strong></td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.balanceBefore }}</td>
        <td>{{ transaction.balanceAfter }}</td>
      </tr>
      <!-- and so on... -->
    </tbody>
  </table>
</div>
