@import "../../assets/colors";

.side-advisor-container {
  text-align: center;
  position: absolute;
  top: 80px;
  right: 20px;
  width: 25%;
  height: 90%;
  border-radius: 0 0 40px 0;
  background-color: $snow-white-color;
  padding: 25px;

  h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .messages-container {
    width: 100%;
    height: 70vh;
    overflow: auto;
  }

  .chat-input-container {
    position: absolute;
    bottom: 0px;
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  $black: #000000;
  $white: #ffffff;

  .c-checkbox {
    display: none;

    &:checked + .c-formContainer {
      .c-form {
        width: 20vw;
        border: 1px solid $inactive-icon-color;
      }

      .c-form__toggle {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.7);
      }

      .c-form__input,
      .c-form__buttonLabel {
        transition: 0.2s 0.1s;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }

    &:not(:checked),
    &:checked {
      + .c-formContainer
        .c-form__input:required:valid
        ~ .c-form__toggle::before {
        content: "Thank You! \1F60A";
      }
    }

    &:not(:checked) + .c-formContainer {
      .c-form__input:required:valid ~ .c-form__toggle {
        pointer-events: none;
        cursor: default;
      }
    }
  }

  .c-formContainer,
  .c-form,
  .c-form__toggle {
    width: 20%;
    height: 4.25em;
  }

  .c-formContainer {
    position: relative;
    font-weight: 500;
  }

  .c-form,
  .c-form__toggle {
    position: absolute;
    border-radius: 4.25em;
    background-color: $white;
    transition: 0.2s;
  }

  .c-form {
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;

    // position form inputs
    display: flex;
    justify-content: center;
  }

  .c-form__toggle {
    color: $active-icon-color;
    top: 0;
    cursor: pointer;
    z-index: 1;

    fa-icon {
      font-size: 30px;
    }

    // position message
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      font-size: 1.75em;
      content: attr(data-title);
    }
  }

  .c-form__input,
  .c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
  }

  .c-form__input,
  .c-form__buttonLabel {
    font-size: 1.25em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
  }

  .c-form__input {
    color: $active-icon-color;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;

    &:required:valid {
      color: $active-icon-color;

      + .c-form__buttonLabel {
        color: $white;

        &::before {
          pointer-events: initial;
        }
      }
    }
  }

  .c-form__buttonLabel {
    color: $snow-white-color;
    height: 100%;
    width: auto;

    fa-icon {
      font-size: 30px;
    }

    // accepts click events
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
      cursor: pointer;
    }
  }

  .c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: $active-icon-color;
  }
}
