@import "../assets/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-main-container {
  position: relative;
  padding: 80px;
  width: 100vw;
  height: 100vh;
  background: rgb(72, 24, 140);
  background: linear-gradient(
    90deg,
    rgba(72, 24, 140, 1) 0%,
    rgba(9, 9, 121, 1) 76%,
    rgba(10, 112, 133, 1) 100%
  );

  .main-content {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 70%;
    min-height: 90%;
    background-color: $main-background-color;
    padding: 30px;
  }
}
