<div class="main-content-container">
  <h1 class="name">Welcome to main page</h1>

  <div class="chart_container">
    <div class="donut_tab tab">
      <div class="hore">
        <h1>Expenses by category</h1>

        <div class="dropdown">
          <button class="dropbtn">March ></button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>

      <div class="content1">
        <div class="donut">
          <canvas id="donutChart"></canvas>
        </div>
        <div class="text">
          <p><span class="s1">----</span> Shopping</p>
          <p><span class="s2">----</span> Sport</p>
          <p><span class="s3">----</span> Food</p>
          <p><span class="s4">----</span> Other</p>
        </div>
      </div>
    </div>

    <div class="list_tab tab">
      <div class="hore">
        <h1 class="name">Transactions</h1>

        <div class="dropdown">
          <button class="dropbtn">More info ></button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      <div class="polozka">
        <i class="n1 fa-solid fa-pizza-slice"></i>
        <div class="pod">
          <h2>Food</h2>
          <p>datum</p>
        </div>
        <h1>-$</h1>
      </div>
      <div class="polozka">
        <i class="n2 fa-solid fa-coins"></i>
        <div class="pod">
          <h2>Salary</h2>
          <br />
          <p>datum</p>
        </div>
        <h1>-20$</h1>
      </div>
      <div class="polozka">
        <i class="n3 fa-solid fa-basket-shopping"></i>
        <div class="pod">
          <h2>Shopping</h2>
          <br />
          <p>datum</p>
        </div>
        <h1>-20$</h1>
      </div>
    </div>
  </div>

  <div class="line_tab">
    <div class="onli_text">
      <h1>Analytics</h1>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
      </p>
    </div>
    <div class="line">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>
