@import "../../../assets/colors";

.chat-message {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  padding: 25px 20px 13px 20px;
  border-radius: 40px;
  animation:pop-in 0.5s;
}

.me {
  text-align: right;
  color: black;
  border: 2px solid $active-icon-color;
}

.other {
  text-align: left;
  color: black;
  border: 1px solid $inactive-icon-color
}


@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.1); }
  100% { opacity: 1; transform: scale(1); }
}
