.me {
  text-align: right;
  color: white;
  background-color: dodgerblue;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.other {
  text-align: left;
  color: black;
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
